@media  (max-width:1079px) and (min-width:320px)

{

    .tanishq_navbar
    {
        display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
   width: 100%;
   height: 100%;
   /* margin: 1%; */
    }


    .navbar_items_tanishq
    {
        display: flex;
        flex-wrap: wrap;
     
       width: 100%;
       height: 100%;
    }
.tanishq_icons_box
{
    display: flex;
        flex-wrap: wrap;
     
       width: 100%;
       height: 100%;
}

.tanishq_jewellery_menu_box
{
    display: flex;
        flex-wrap: wrap;
     
       width: 100%;
       height: 100%;
}

.tanishq_font_mini
{
    font-size: 15px;
}

.tanishq_font_big
{
    font-size:50px ;
}

.banner
{
    width: 100%;
}

.text_box1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box3
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box4
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box5
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.text_box6
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box7
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box8
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box9
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box10
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box11
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box12
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.text_box13
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tanishq_shop_by_category_container
{
    display: grid;


    width: 100%;
   

    grid-template-columns: 220px 220px 220px ;
    grid-template-rows: 330px 330px 330px 330px 100px;
    row-gap: 2%;
    column-gap: 1%;
 

    
    margin-top: 2.5%;
    justify-content: center;
    align-items: center;
}

.tanishq_shop_by_category_items
{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    
 
   
   width: 210px;
   height: 300px;
  
   
}

.tanishq_shop_by_category_img
{
    width: 210px;
    height: 200px;
}

.shop_by_collection_container

{
    display: flex;
    margin-bottom: 5%;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
  justify-content: space-around;

    align-items: center;
    width: 90%;
}


.gift_banner
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new_for_you_container
{
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
  justify-content: center;

  width: 90%;
}

.shop_by_gender_container
{
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
  justify-content: center;

  width: 90%;
  
}

.starburst_banner
{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.starburst_banner_img
{
  width: 85%;
}

.tanishq_gold_video
{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.lookbooks_container
{
    display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
  justify-content: center;

  width: 90%;
}
.rivaah_baneer
{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bride_container
{

  display: grid;


  width: 100%;
  

  grid-template-columns: 460px  ;
  grid-template-rows: 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 450px 100px;
  row-gap: 2%;
  column-gap: 1%;


  
  margin-top: 2.5%;
  justify-content: center;
  align-items: center;


}

.bride_items
{
  display: flex;
  flex-direction: column;

  align-items: center;
  
 
 width: 460px;
 height: 440px;
 transition: all 1.5s;

}

.bride_img
{
  width: 460px;
  height: 430px;


}

.bride_text
{
  font-family: "Nunito Sans", sans-serif;
   

    color: #832729;
    font-weight: bold;
    font-size: 40px;
}

.wedding_video_box
{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wedding_video
{
  width: 95%;
  border-radius: 10px;
}

.wedding_celebration_container
{
  display: grid;


  width: 100%;
 

  

  grid-template-columns: 250px 250px 250px ;
  grid-template-rows: 380px 380px 380px 380px  380px 300px;
  row-gap: 2%;
  column-gap: 1%;


  
  margin-top: 2.5%;
  justify-content: center;
  align-items: center;



}

.wedding_celebration_items
{
  display: flex;
  flex-direction: column;

  align-items: center;
  

 width: 240px;
 height: 370px;


 
}
.wedding_celebration_text
{
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
  width: 230px;
  height: 360px;
 
  

 
}

.wedding_text
{
  font-family: "Nunito Sans", sans-serif;
   
  
    color: #832729;
    font-weight: bold;
    font-size: 30px;
}

.wedding_celebration_img
{
  width: 230px;
  height: 360px;
}


.jewellery_guide_container
{
  display: grid;


  width: 100%;
 

 

  grid-template-columns: 250px 450px   ;
  grid-template-rows: 380px 380px 380px 380px  380px 380px 380px 380px  380px  590px;
  row-gap: 2%;
  column-gap: 1%;


  
  margin-top: 2.5%;
  justify-content: center;
  align-items: center;

}

.jewellery_guide_item
{
  display: flex;
  flex-direction: column;

  align-items: center;
  

 width: 240px;
 height: 370px;
 transition: all 1.5s;
}

.jewellary_guide_img
{
  width: 240px;
 height: 370px;
}

.jewellary_guide_text
{
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  
 
 width: 440px;
 height: 370px;
}

.guide_text
{
  font-family: "Nunito Sans", sans-serif;
   
  
    color: #832729;
    font-weight: bold;
    font-size: 15px;
}

.connect_us_container
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.conect_item_box
{
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  height: 150px;
  border:  1px solid #832729;
  border-radius: 15px;
  align-items: center;
  background-color: rgb(252, 247, 251);
}



.connect_img
{
  width: 100px;
  height: 110px;
}

.connect_items
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conect_text
{
  
    
    font-size: 20px;
}



.connect_button_tanishq
{
  width: 120px;
  height: 50px;
  
 
  
  font-size: 15px;

 
}

.tanshq_footer_container
{
  /* margin-top: 5%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5%; */
}

  

  .footer_item
  {
  
    display: flex;
    flex-direction: column;
  
    align-items: center;
  
    width: 25%;
    height: 100%;
   
    justify-content: center;
   
  
  
  }

.footer_icon
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}

.footer_icon_img
{
  width: 20px;
}

.footer_app_img
{
  width: 100px;
}

.tanishq_footer_heading_text
{
  font-family: "Nunito Sans", sans-serif;
   
  
    color: #832729;
    font-weight: bold;
    font-size: 25px;
}

.payments_icons_tanishq_container
{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;

  justify-content: space-evenly;
  align-items: center;
 

}

.payments_icons_tanishq_items
{
  display: flex;
  flex-direction: row;

 

  width: 25%;
  
  padding: auto;
 
  justify-content: center;

}




.payments_icons_ianishq_img
{
  padding: 2px;





 
  width: 60px;
  height: 50px;
}

}